<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ktz.equalization.mapper.FieldMapper">
    <resultMap id="fieldMapper" type="com.ktz.equalization.domain.Field">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertOne" parameterType="com.ktz.equalization.domain.Field">
        insert into field
        values (#{id},  #{name}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteOne">
        delete from field
        where id = #{id}
    </delete>

    <delete id="deleteMulti">
        delete from field
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.ktz.equalization.domain.Field">
        update field
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="createTime != null and createTime != ''">create_time=#{createTime},</if>
            <if test="updateTime != null and updateTime != ''">update_time=#{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="getOne" resultMap="fieldMapper">
        select *
        from field
        where id = #{id}
    </select>

    <select id="listAll" resultMap="fieldMapper">
        select *
        from field
    </select>

    <select id="list" parameterType="com.ktz.equalization.domain.Role" resultMap="fieldMapper">
        select *
        from field
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
    </select>

    <select id="count" parameterType="com.ktz.equalization.domain.Field">
        select count(*)
        from field
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
    </select>

    <select id="getIdByName" resultType="java.lang.Long">
        select id
        from field
        where name = #{name}
    </select>

</mapper>